Checks: >
    -*,
    performace-*,

    readability-*,
    -readability-function-cognitive-complexity,
    -readability-convert-member-functions-to-static,
    -readability-else-after-return,
    -readability-identifier-length,
    -readability-magic-numbers,

    bugprone-*,
    -bugprone-easily-swappable-parameters,
    -bugprone-macro-parentheses,

    modernize-*,
    -modernize-use-trailing-return-type,

    mics-include-cleaner,
