Standard: Auto
BasedOnStyle: WebKit

IndentWidth: 4
BreakBeforeBraces: Attach

ColumnLimit: 120
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: None
AlignConsecutiveAssignments: Consecutive
AlignEscapedNewlines: Left
